<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Mass Update New Request </h2>
		</div>
	</div>


<div class="row">
		<div class="col-lg-9">

			<form (ngSubmit)="onSubmit()" #massUpdateNewRequestForm="ngForm">

				<div class="form-group">
					<label for ="changeTypeCodes">Mass Update Type</label> 
					<select [(ngModel)]="model.changeTypeCode" (ngModelChange)="onChangemassUpdateType($event)" name="changeTypeCode" class="form-control" required>
						<option value="">Select One</option>
						<option [ngValue]="massUpdateTypeElement.code" *ngFor="let massUpdateTypeElement of massUpdateTypes">{{massUpdateTypeElement.description}}</option>
					</select> {{selectedMassUpdateType | json}}
				</div>



				<fieldset class="form-group">
					<label for="requestorUsername">Requestor Username</label> 
					<input type="text" class="form-control" name="requestorUsername" [(ngModel)]="model.requestorUsername"  placeholder="current username" disabled required />
				</fieldset>
				<fieldset class="form-group">
					<label for="referenceNumber">SDT / Project reference number</label> 
					<input type="text" class="form-control" name="referenceNumber" [(ngModel)]="model.referenceNumber" placeholder="sdt12345" />
				</fieldset>
				<fieldset class="form-group">
					<label for="approverUsernames">Approver Usernames</label> 
					<input type="text" class="form-control" name="approverUsernames" [(ngModel)]="model.approverUsernames" placeholder="coma separated usernames" />
				</fieldset>

				<fieldset class="form-group">
					<label for="notificationEmails">Notification Emails</label> 
					<input type="text" class="form-control" name="notificationEmails" [(ngModel)]="model.notificationEmails" placeholder="coma separated email addresses" />
				</fieldset>
			



				<button type="submit" class="btn btn-secondary">Submit Button</button>
				<button type="reset" class="btn btn-secondary">Reset Button</button>






			</form>

		</div>
</div>


</div>