<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Mass Update New Request</h2>
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-9">

			<form role="form">

				<div class="form-group">
					<label>Mass Update Type</label> <select class="form-control">

						<option value="">Select One</option>
						<option *ngFor="let massUpdateType of massUpdateTypes" value="{{massUpdateType.code}}">
							{{massUpdateType.description}}</option>
					</select>
				</div>





				<fieldset class="form-group">
					<label>SDT / Project reference number</label> <input
						class="form-control" placeholder="sdt12345" />
				</fieldset>

				<fieldset class="form-group">
					<label>Approver</label> <input class="form-control"
						placeholder="As configured" />
				</fieldset>


				<fieldset class="form-group">
					<label>Comment</label>
					<textarea class="form-control" rows="3"></textarea>
				</fieldset>






				<button type="submit" class="btn btn-secondary">Submit
					Button</button>
				<button type="reset" class="btn btn-secondary">Reset Button</button>

			</form>

		</div>

	</div>
	<!-- /.row -->

</div>